<div class="" style="margin-left: auto; margin-right: auto;">
    <div class="">
        <div class="col-sm-3 row" style="float: right">
            <label for="make" class="">Filter by Make: </label>
            <select id="make" class="form-control" value="Select" (change)="onSelect()">
                <option value="Any" class="option" id="Any">Any</option>
                <option *ngFor = "let make of makes" value="{{make}}" class="option">{{make}}</option>
            </select>
        </div>
        <div class="accordion accordion-flush row">
            <div class="accordion-item" *ngFor = "let car of cars">
                <div class="">
                    <h3 class="accordion-header">
                        {{car.year}} {{car.make}} {{car.model}}
                    </h3>
                    <!-- plus sign goes here -->
                </div>
                <div class="accordion-body">
                    <img src="" alt="Image of {{car.year}} {{car.make}} {{car.model}}">
                    <ul>
                        <li>Price: </li>
                        <li>MPG: </li>
                        <li>Seats: </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="list-group" style="padding-top: 25px">
            <div *ngFor = "let car of cars">
                <li class="list-group-item text-left">{{car.make}} {{car.model}}</li>
            </div>
        </div> -->
        <div>
            
        </div>
    </div>
</div>
<!-- <script>
    import { Collapse, initMDB } from 'mdb-ui-kit';
</script> -->
