<!-- <div class="row">
    <img class="banner" src="https://tse1.mm.bing.net/th?id=OIP.qNW0PvLEyJsVtKwy8U2zogHaDt&pid=Api&P=0&h=220" alt="Row of Cars">
</div> -->
<div class="" style="display: flex; margin-top: 40px;">
    <div class="container">
        <div class="col-sm-3 row filter">
            <label for="make" class="words">Filter by Make: </label>
            <select id="make" class="form-control" value="Select" (change)="onSelect()">
                <option value="Any" class="option" id="Any">Any</option>
                <option *ngFor = "let make of makes" value="{{make}}" class="option">{{make}}</option>
            </select>
        </div>
        <mat-accordion class="car-items" *ngFor="let car of cars">
            <mat-expansion-panel>
                <mat-expansion-panel-header class="item-header">
                    <h3 class="coda-regular">{{car.year}} {{car.make}} {{car.model}}</h3>
                </mat-expansion-panel-header>
                <div class="item-content">
                    <img src="{{car.image}}" alt="Image of {{car.year}} {{car.make}} {{car.model}}">
                    <ul>
                        <li class="coda-regular">Price: $<span id="price">{{car.price}}</span></li>
                        <li class="coda-regular">MPG: {{car.mpg}}</li>
                        <li class="coda-regular">Seats: {{car.seats}}</li>
                    </ul>
                </div>
            </mat-expansion-panel>
            <!-- <script>
                function convertCurrency(price){
                let priceNum = Number(price);
                let USDollar = new Intl.NumberFormat('en-us',{
                  style: 'currency',
                  currency: 'USD'
                });
                return USDollar.format(priceNum);
              }
              document.getElementById('price').innerHTML = convertCurrency(`{car.price}`);
            </script> -->
        </mat-accordion>
    </div>
</div>
